<footer class="footer">
  <!-- Copyright Text -->
  <div class="copyright">
    <p>&copy; 2025 - Kaylee Hoek</p>
  </div>

  <!-- Social Media Links Section -->
  <div class="social-media-links">
    <a href="https://www.behance.net" target="_blank">
      <img src="/images/behance.svg" alt="Behance" class="social-icon" />
    </a>
    <a href="https://www.pinterest.com" target="_blank">
      <img src="/images/pinterest.svg" alt="Pinterest" class="social-icon" />
    </a>
    <a href="https://www.linkedin.com" target="_blank">
      <img src="/images/linkedIn.svg" alt="LinkedIn" class="social-icon" />
    </a>
    <a href="https://www.instagram.com" target="_blank">
      <img src="/images/instagram.svg" alt="Instagram" class="social-icon" />
    </a>
  </div>
</footer>
