/*For the whole website*/
body {
  font-family: "Comfortaa", sans-serif;
  background-image: url("/blok1coderen/images/background.png");
  background-color: black;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: local;
}

/*Logo*/
.logo {
  max-width: 10%;
  height: auto;
  position: absolute;
}

/*Navigation*/
nav > ul {
  text-align: end;
}

nav > ul > li {
  display: inline-block;
  padding: 1vw 1vh;
}

nav > ul > li > a {
  text-decoration: none;
  color: plum;
  font-size: 20px;
}

/*Hover changing color*/
nav > ul > li > a:hover,
.scroll_button > a:hover,
h2 > a:hover,
.mail > a:hover,
.submit:hover,
#gotowebsite:hover {
  color: purple;
  transition: 250ms;
}

/*Head of the page*/
h1 {
  text-align: center;
  justify-content: center;
  font-size: 500%;
  font-weight: bold;
  margin: 2em 1em 0.5em 1em;
}

.description,
.scroll_button {
  text-align: center;
  padding: 0;
  margin: 10;
}

.description {
  width: 40em;
  margin: auto;
}

/*Normal text color*/
h2 > a,
.scroll_button > a,
footer,
.mail > a {
  text-decoration: none;
  color: plum;
}

/*Scrolling down*/
.scroll_button > a {
  border: 2px solid purple;
  border-radius: 6px;
  padding: 5px;
}

#down {
  color: plum;
  font-size: 500%;
  margin-top: 60vh;
  margin-bottom: 10vh;
}

/*Dashes for navigation + h2 headline*/
main {
  text-align: center;
}

h2 {
  display: inline-block;
  font-size: 20vw;
  letter-spacing: 2vw;
  margin: auto;
}

.dashes:hover {
  animation: bounce-in 1s ease infinite;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}

/*For gamelist*/
.container {
  width: 100%;
  flex: 0 0 35%;
}

.gameinfo {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: 1vw;
  text-align: center;
}

.game1,
.game2,
.game3,
.game4 {
  background-color: whitesmoke;
  text-decoration: none;
  color: plum;
  width: 25%;
  margin: 1%;
  height: fixed;
  border-radius: 5%;
}

.game1:hover,
.game2:hover,
.game3:hover,
.game4:hover {
  color: purple;
  transition: 250ms;
  animation: jump 2s ease infinite;
}

#gamelogo {
  margin-top: 10%;
  width: 80%;
  height: auto;
}

.game > h3 {
  font-size: 2vw;
  letter-spacing: normal;
}

@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*For About Me content*/
.aboutme > p {
  display: inline-block;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 70%;
  text-align: left;
  font-size: 1.5vw;
  letter-spacing: 0.3vw;
  color: plum;
}

#profilepicture,
#gamingconsole {
  display: inline-block;
  width: 13%;
  border: 1px solid black;
  border-radius: 10px;
}

#gamingconsole {
 rotate: 340deg;
}

/*For all star ratings (emoji's)*/
.stars {
  text-align: center;
  font-size: 2.5vw;
}

/*For LeaveYourInput*/
.opinion {
  margin-top: 6em;
  margin-bottom: 1em;
  color: plum;
}

textarea {
  resize: none;
  background-color: darkslategray;
  width: 40vw;
  height: 30vh;
  font-size: 1.2em;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Comfortaa", sans-serif;
  color: plum;
}

form > label,
::placeholder {
  color: plum;
  font-size: 1.2em;
  text-align: center;
}

form > input {
  color: plum;
  background-color: darkslategrey;
  width: 40vw;
  height: 5vh;
  font-size: 1.2em;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: block;
  margin: 0.5rem;
}

/*Star rating*/
.star-rating {
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  position: relative;
}
.star-rating > input {
  display: none;
}
.star-rating > label {
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.star-rating > label > img {
  width: 100%;
  display: block;
}

.star-rating > label > img.gold {
  position: relative;
  margin-top: -30px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.star-rating > label:hover > img.gold,
.star-rating > input:checked ~ label > img.gold,
.star-rating > label:hover ~ label > img.gold {
  opacity: 1;
  scale: 1.2;
}

/*For Submit button*/
.submit {
  border-style: outset;
  border: 1px solid black;
  border-radius: 10px;
}

.submit:hover {
  scale: 1.05;
  background-color: gray;
}

/*For Genshin Impact page*/
#genshinlogo {
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid plum;
  border-radius: 10px;
}

.gametitle {
  margin: 5vw;
}

#genshininfo {
  color: plum;
  letter-spacing: 0.3vw;
  margin: 5em;
}

#gotowebsite {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: plum;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
