<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head') %>
</head>
<body>
    <header>
        <%- include ('partials/headerIndex') %>
    </header>
    <main>
        <section class="container">
            <div class="text-section">
              <h1>UI designer & Front-end Developer</h1>
              <p>Hi there! My name is Kaylee Hoek, and I'm currently studying Communication and Multimedia Design at HVA. Alongside my studies, I work at Amac, where I'm gaining hands-on experience in the field. I'm passionate about both design and technology, and always open to connecting with like-minded individuals. If you'd like to learn more about me or get in touch, feel free to click the button below. I'd love to hear from you!</p>
              <div class="buttons">
                <button>More</button>
                <button>Contact</button>
              </div>
            </div>
            <div class="image-section">
              <img src="/images/indexAvatar.png" alt="Cartoon Avatar">
            </div>
          </section>
    </main>
    <footer>
        <%- include ('partials/footer') %>
    </footer>
</body>
<script src="/scripts/darkmodeToggle.js"></script>
</html>