:root {
    --primary: #358a66;
    --secundairy: #56c596;
    --tertairy: #11C4D4;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
}

#home {
    background-image: url(/Schoonschip/afbeeldingen/achtergrond.png);
}

#concept {
    background-image: url(/Schoonschip/afbeeldingen/achtergrondconcept.png);
}

.logo {
    width: auto;
    height: 64.2px;
    margin: 0;
    position: absolute;
}

nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 8px;
}

nav > ul {
    text-align: end;
}

.slogan {
    color: var(--primary);
    text-align: center;
    margin: 0;
}

h2 {
    color: white;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 40px;
    margin-left: 32px;
    margin-bottom: 5px;
}

p {
    color: white;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
    margin-left: 33px;
    margin-right: 33px;
}

#p1, #p2, #p4 {
    margin-top: 0;
    margin-bottom: 0;
}

#p3, #p5 {
    margin-top: 15px;
    margin-bottom: 0;
}

#uithap1 {
    float: right;
    margin: 0;
}

div.scroll-container {
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
    padding: 5px;
}
  
div.scroll-container img {
    padding: 5px;
}

.knop {
    margin-left: 87.5px;
    animation: aandacht 2s ease 0s infinite normal forwards;
}

@keyframes aandacht {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.copyright {
    color: var(--primary);
    text-align: right;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 35px 0px 0px 0px;
}