/*geldig voor de gehele pagina*/
body {
    font-family: "Comfortaa", sans-serif;
    background-image: url("/Images/Background\ index.png");
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: local;
}

/*logo*/
img {
    max-width: 10%;
    height: auto;
    position: absolute;
}

/*navigatie*/
nav > ul {
    list-style-type: none;
    text-align: end;
}

nav > ul > li {
    display: inline-block;
    padding: 1vw 1vh;
}

nav > ul > li > a {
    text-decoration: none;
    color: plum;
    font-size: 20px;
}

/*hover changing color*/
nav > ul > li > a:hover, .scroll_button > a:hover, h2 > a:hover, .mail > a:hover, .submit:hover {
    color: purple;
}

/*hoofd van de pagina*/
h1 {
    text-align: center;
    justify-content: center;
    font-size: 500%;
    font-weight: bold;
    margin: 2em 1em 0.5em 1em;
}

.description, .scroll_button {
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 10;
}

.description {
    width: 40em;
    margin: auto;
}

/*Normal text color*/
h2 > a, .scroll_button > a, footer, .mail > a {
    text-decoration: none;
    color: plum;
}

/*naar beneden scrollen*/
.scroll_button > a {
    border: 2px solid purple;
    border-radius: 6px;
    padding: 5px;
}

/*puntjes voor navigatie*/
h2 {
    font-size: 100px;
    letter-spacing: 10px;
    text-align: center;
    padding: 0;
    margin: 0;
}

/*For LeaveYourInput*/
.opinion {
    margin-top: 6em;
    margin-bottom: 1em;
    color: plum;
}

textarea {
    resize: none;
    background-color: darkslategray;
    width: 40vw;
    height: 30vh;
    font-size: 1.2em;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Comfortaa", sans-serif;
    color: plum;
}

form > label, ::placeholder {
    color: plum;
    font-size: 1.2em;
    text-align: center;
}

form > input {
    color: plum;
    background-color: darkslategrey;
    width: 40vw;
    height: 5vh;
    font-size: 1.2em;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    margin: 0.5rem;
}

 /*Star rating*/
  .container {
      width: 95%;
      max-width: 1000px;
      margin-left: 0;
  }
  .star-rating {
      display: flex;
      justify-content: center;
      width: 125%;
      overflow: hidden;
      flex-direction: row-reverse;
      position: relative;
  }
  .star-rating > input {
      display: none;
  }
  .star-rating > label {
      margin-top: 1em;
      margin-bottom: 1em;
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: url(/Images/star-purple.png)no-repeat center / 75%;
      transition: 0.5s;
  }
  .star-rating > input:not(:checked) ~ label:hover,
  .star-rating > input:not(:checked) ~ label:hover ~ label {
      background: url(/Images/star-gold.png) no-repeat center / 75%;
  }
  
  .star-rating > input:checked ~ label,
  .star-rating > input:checked ~ label ~ label {
      background: url(/Images/star-gold.png)no-repeat center / 75%;
  }

  /*Voor alle sterren rating games*/
  .stars {
    text-align: center;
  }