/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --color-text: #000;
  --color-background: #f0ffff;
  --color-background-nav: #ffb4c7;
  --color-extra: #ffeca0;
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-background);
  overflow-x: hidden;

  font-family: Noto sans;
}

/***************/
/* NAV STYLING */
/***************/
header > nav {
  position: fixed;
  padding-top: 1em;
  top: 0;
  left: 0;
  width: 100%;
  height: 10em;
  background-image: url("../images/logoBackground.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1000;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: top;
}

/****************/
/* LOGO STYLING */
/****************/
header > nav > a {
  position: relative;
  z-index: 1001;
  width: 6em;
  height: 6em;
  margin-left: 1em;
  grid-column: 1;
}

/**************************/
/* HAMBURGER MENU (Label) */
/**************************/
header > nav > label {
  position: relative;
  z-index: 1000;
  cursor: pointer;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  justify-self: end;
}

/********************/
/* CHECKBOX STYLING */
/********************/
input[type="checkbox"] {
  display: none;
}

label svg,
label img {
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  transition: opacity 0.3s ease;
}

.unchecked {
  opacity: 1;
}

.checked {
  opacity: 0;
}

input:checked + label .unchecked {
  opacity: 0;
}

input:checked + label .checked {
  opacity: 1;
}

/****************/
/* MENU STYLING */
/****************/
nav ul {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--color-background-nav);
  overflow: hidden;
  z-index: 999;
  transition: 0.3s ease-in-out;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

#nav1 {
  grid-row: 2 / 5;
  grid-column: 1 / 3;
}

#nav2 {
  grid-row: 3 / 5;
  grid-column: 1 / 3;
}

#nav3 {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}

nav ul li {
  list-style: none;
  font-size: 3em;
}

nav ul a {
  color: var(--color-background);
  text-decoration: none;
  opacity: 0;
}

input:checked + label + ul {
  height: 100%;
}

input:checked + label + ul a {
  opacity: 1;
}

/*******************************************/
/* HOVER EFFECT WITH WHITE LINE UNDER LINK */
/*******************************************/
nav ul a {
  position: relative;
  display: inline-block;
}

nav ul a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: var(--color-background);
  bottom: 0;
  left: 0;
}

nav ul li a:hover::after {
  width: 100%;
  transition: ease 0.5s;
}

/*******************/
/* TEXT DECORATION */
/*******************/
h1 {
  color: var(--color-background-nav);
  font-size: 9vw;
  justify-content: center;
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 0;
}

#designer {
  position: relative;
}

#and {
  font-size: 35vw;
  position: absolute;
  right: 6vh;
  top: 8vh;
  color: var(--color-text);
}

#proffesion {
  position: relative;
  font-size: 7.9vw;
  -webkit-text-stroke-color: var(--color-extra);
  -webkit-text-stroke-width: 2px;
  color: var(--color-background);
}

#happy2 {
  width: 100%;
}

p {
  font-size: 2em;
}

/*****************/
/* INTRO SECTION */
/*****************/
#intro {
  background-color: var(--color-background-nav);
  padding: 2em;
  margin: 1em;
  border-radius: 50px;
  position: relative;
}

#intro::after {
  content: "";
  position: absolute;
  top: -4em;
  right: 4em;
  border-width: 2em;
  border-style: solid;
  border-color: var(--color-background-nav) transparent transparent transparent;
  rotate: 180deg;
}

/******************/
/* BUTTON STYLING */
/******************/
button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  margin: auto;
  text-align: center;
}

button > img {
  width: 5em;
}

/***********************/
/* ZOOM BUTTON STYLING */
/***********************/
.zoom-button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.zoom-button img {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease;
}

.zoom-button:hover img {
  transform: scale(1.2);
}

/*********************/
/* CONTAINER STYLING */
/*********************/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0;
  list-style: none;
  margin: 0;
}

.container li {
  display: contents;
}

.container li:nth-child(odd) {
  display: contents;
}

.container li:nth-child(odd) p {
  grid-column: 1;
  padding-left: 2em;
}

.container li:nth-child(odd) img {
  grid-column: 2;
  justify-self: end;
  width: 100%;
  max-width: 23em;
}

.container li:nth-child(even) {
  display: contents;
}

.container li:nth-child(even) p {
  grid-column: 2;
  padding-right: 2em;
}

.container li:nth-child(even) img {
  grid-column: 1;
  justify-self: start;
  width: 100%;
  max-width: 25em;
}

.container img {
  max-width: 100%;
  height: auto;
}


/******************/
/* CODING SECTION */
/******************/
#coding {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: center;
}

/*********************/
/* MAIN TEXT STYLING */
/*********************/
main > p {
  padding-left: 2em;
  padding-right: 2em;
}

/******************/
/* FOOTER STYLING */
/******************/
footer {
  background-image: url(../images/backgroundFooter.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

footer > img {
  padding-top: 8em;
  padding-bottom: 1em;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 15em;
}

footer > ul {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 0;
}

footer > ul li {
  list-style-type: none;
  padding: 1em;
}

footer > ul > li img {
  width: 3em;
}

#copyright {
  display: flex;
  margin: auto;
  justify-content: center;
  font-size: 1em;
  padding-bottom: 10px;
  color: var(--color-background);
}

/********************/
/* CAROUSEL STYLING */
/********************/
.carousel-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 90%;
  margin: auto;
  justify-content: center;
}

.carousel-list {
  display: flex;
  transition: 0.5s ease;
  display: flex;
  padding: 0;
  list-style: none;
  width: 100%;
}

.carousel-list li {
  flex: 0 0 100%;
  padding: 2em;
  padding-bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*******************************/
/* CAROUSEL NAVIGATION BUTTONS */
/*******************************/
.carousel-nav {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--color-background-nav);
  padding: 0 1em;
  z-index: 1000;
}

.carousel-nav.left {
  left: -2em;
  rotate: 90deg;
}

.carousel-nav.right {
  right: -2em;
  rotate: -90deg;
}

/*********************/
/* CAROUSEL HEADINGS */
/*********************/
h2 {
  font-size: 4em;
  margin: 0;
}

.carousel-list li h2 {
  position: relative;
  top: -1em;
}

.carousel-list li p {
  position: relative;
  top: -3em;
}

/*************************/
/* ABOUT SECTION STYLING */
/*************************/
#about,
#interior,
#design {
  display: flex;
  margin: auto;
  justify-content: center;
  color: var(--color-text);
}

/************************/
/* MAIL SECTION STYLING */
/************************/
#mail {
  display: flex;
  margin: auto;
  justify-content: center;
}

#mail img {
  width: 4em;
}

#mail a {
  text-decoration: none;
  color: var(--color-text);
  padding-left: 1em;
  padding-top: 2.5%;
}

/**********************/
/* CV SECTION STYLING */
/**********************/
#cv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  padding-bottom: 5em;
  margin: 0;
}

#cv li {
  display: flex;
  justify-content: center;
}

#cv li img {
  width: 100%;
  max-width: 25em;
  height: auto;
}

/******************************/
/* MEDIA QUERY FOR CV SECTION */
/******************************/
@media (max-width: 768px) {
  #cv {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

/*******************************/
/* INTERIOR AND DESIGN SECTION */
/*******************************/
ol {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1em;
  padding: 1em;
}

@media (min-width: 768px) {
  ol {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
}

ol li {
  list-style-type: none;
  text-align: center;
  border-radius: 2em;
  background-color: var(--color-primary);
  padding: 1em;
  max-width: 100%;
  aspect-ratio: 1 / 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
  z-index: 1;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ol li a {
  text-decoration: none;
  color: var(--color-background);
  z-index: 2;
}

ol li h2,
ol li p {
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

ol li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  border-radius: 2em;
}

ol li:hover::before {
  background-color: rgba(0, 0, 0, 0.3);
}

ol li:hover h2,
ol li:hover p {
  opacity: 1;
}

/************************/
/* INTERIOR BACKGROUNDS */
/************************/
.interior li:first-child {
  background-image: url(../images/loft.png);
}

.interior li:nth-last-child(7) {
  background-image: url(../images/balenciaga.png);
}

.interior li:nth-last-child(6) {
  background-image: url(../images/waterwonen.png);
}

.interior li:nth-last-child(5) {
  background-image: url(../images/extra.jpg);
}

.interior li:nth-last-child(4) {
  background-image: url(../images/workspace.png);
}

.interior li:nth-last-child(3) {
  background-image: url(../images/tinyHouse.png);
}

.interior li:nth-last-child(2) {
  background-image: url(../images/cafeteria.png);
}

.interior li:last-child {
  background-image: url(../images/bk.png);
}

/**********************/
/* DESIGN BACKGROUNDS */
/**********************/
.design li:first-child {
  background-image: url(../images/tamagochi.png);
}

.design li:nth-last-child(7) {
  background-image: url(../images/animedia.png);
}

.design li:nth-last-child(6) {
  background-image: url(../images/boekenontdekker.png);
}

.design li:nth-last-child(5) {
  background-image: url(../images/spaanseTortilla.png);
}

.design li:nth-last-child(4) {
  background-image: url(../images/schoonschip.png);
}

.design li:nth-last-child(3) {
  background-image: url(../images/myGames.png);
}

.design li:nth-last-child(2) {
  background-image: url(../images/pcSetup.png);
}

.design li:last-child {
  background-image: url(../images/christmasTree.png);
}